customtkinter==6.0.0
darkdetect==0.8.0
ImageIO==2.37.3
iniconfig==2.3.0
lazy-loader==0.5
networkx==3.6.1
numpy==2.5.1
packaging==26.2
pillow==12.3.0
pluggy==1.6.0
Pygments==2.20.0
pytest==9.1.1
scikit-image==0.26.0
scipy==1.18.0
tifffile==2026.7.14
